body{
    font-family: "Open Sans", sans-serif;
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #fff;
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    color: #474747;
}
nav li a{
    text-decoration: none;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position:bottom right ;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-pic{
    width: 500px;
}
.banner-greetings{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size:85px ;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom:2opx;
}
.banner-des{
    margin-top:-50px;
    margin-bottom: 30px;
}
.banner-content{
    max-width: 500px;
}
.section1{
    background-color: #FFF8F3;
    padding: 50px;
    border-radius: 10px;
    margin: 130px 0px;
}
.sec-title{
    color: #181818;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
}
.sec-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-info-con{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
.info{
    margin-bottom:-10px ;
}
.js{
    border-radius: 10px;
    padding: 30px 30px 70px 30px;
    border: 0.0005px solid #181818;
    background: #fff;
}
.react-js{
    display: flex;
    gap: 30px;
   
}
#secdes{
    padding:0px 150px ;
}
.bold{
    font-size: 25px;
    font-weight: 700;
}
.flexbox{
    display: flex;
    justify-content: space-around;
    gap: 50px;

}
.bold1{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: -10px;
}
.para{
    font-size: 22px;
    font-weight: 400;
}
.sizediv{
    width: 450px;
}
.info{
    line-height: 22px;
}